includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
    tmpDir: build/phpstan
    checkModelProperties: true
    ignoreErrors:
        -
            identifier: trait.unused
